.cube-view {
    position: absolute;
    top: 100px;
    right: 15px;
    width: 10%;
    min-width: 100px;
    max-width: 200px;
    z-index: 1;
}

.canvas-3d {
    position: absolute !important;
    width: 601px !important;
    height: 159px !important;
    background: -webkit-linear-gradient(-136deg, #3d3d3d 0%, #212121 100%) !important;
    max-height: calc(100vh - 30px) !important;
}